@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-pink{
   background-color: #B65D60; 
}
.bg-pink{
   background-color: #cd0202; 
}
.bg-white{
   background-color: white; 
}
.bg-pink{
   background-color: #B65D60; 
}
.bg-pink{
   background-color: #B65D60; 
}
.bg-pink{
   background-color: #B65D60; 
}